<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
  <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
  <link rel="stylesheet" type="text/css" href="../../css/aui/aui.css" />
  <link rel="stylesheet" href="../../script/vant/index.css">
  <link rel="stylesheet" href="../../css/custom/common.css">
  <link rel="stylesheet" href="../../css/custom/components/comments.css">
  <link rel="stylesheet" href="../../css/custom/components/foot-action.css">
  <link rel="stylesheet" href="../../css/custom/page/live-detail.css">
  <script src="../../script/vue/vue.js"></script>
  <script src="../../script/vant/vant.min.js"></script>
</head>

<body>
  <div id="app" v-cloak>
    <header></header>
    <div class="info__wrap" :style="{ backgroundImage: 'url(' + live.cover + ')' }"></div>
    <!-- 播放器占位 -->
    <!-- 当status为 0、2 时，仅显示封面 -->
    <div v-if="live.status === 0 || live.status === 2" class="live__cover">
      <div class="live__cover-mask" @click="fnShowNotice"><img src="../../icon/btn_play.png" width="60"></div>
      <v-img :url="live.cover" err="../../image/default.png" :height="coverHeight"></v-img>
    </div>
    <!-- END -->
    <section class="info">
      <div class="info__content">
        <div class="info__section">
          <div class="author">
            <div class="author-detail" @click="toLiveAuthor(author.id)">
              <div class="author-avatar">
                <v-img :url="author.avatar" err="../../image/avatar.png"></v-img>
                <!-- <img :src="author.avatar ? author.avatar : '../../image/avatar.png'"> -->
              </div>
              <div class="author-nickname">
                <div>{{ author.user_name }}</div>
                <div class="author-simple">{{ author.simple }}</div>
              </div>
            </div>
            <div class="author-btn" @click="fnFollow">
              <img :src="live.is_follow_author ? '../../icon/btn_followed_white.png' : '../../icon/btn_follow_white.png'">
            </div>
          </div>
        </div>
        <div class="info__section">
          <nav class="aui-tab" id="tab">
            <div class="aui-tab-item" :class="{'aui-active': active === 0}" @click="onTabchange(0)"><span>简介</span></div>
            <div class="aui-tab-item" :class="{'aui-active': active === 1}" @click="onTabchange(1)"><span>评论</span></div>
          </nav>
          <div class="tab-pane" v-show="active === 0">
            <div class="simple">{{ live.simple }}</div>
          </div>
          <div class="tab-pane" v-show="active === 1">
            <van-list class="comments list" :class="{'empty': !comments.length}" v-model="infiniteLoading" :offset="60"
              :finished="infiniteFinished" :immediate-check="false" @load="onLoad">
              <div v-for="(el, i) in comments" :key="i" class="comment__panel">
                <div class="comment__info">
                  <div class="comment__avatar">
                    <img :src="el.head_pic ? el.head_pic : '../../image/avatar.png'">
                  </div>
                  <div>
                    <div class="comment__nickname">{{ el.user_nickname }}
                      <div class="comment__like" @click="fnCommentLike(i)">
                        <span v-if="el.like_number">{{ el.like_number }}</span>
                        <div><img :src="el.is_like ? '../../icon/ico_like_red.png' : '../../icon/ico_thumbsup_white.png'"
                            width="18"></div>
                      </div>
                    </div>
                    <div class="comment__desc" @click="fnAnswerComment(i, el.id)">{{ el.comment }}</div>
                    <div class="comment__time light">{{ el.timestamp | interval-time }}</div>
                  </div>
                </div>
                <div class="comment__reply" v-if="el.answer_list.length">
                  <div v-for="(ans, j) in el.answer_list" :key="j" class="comment-ans__panel hairline">
                    <div class="comment-ans__user" v-if="ans.user_nickname === ans.listen_nickname">{{
                      ans.user_nickname }}:</div>
                    <div class="comment-ans__user" v-else>{{ ans.user_nickname }}<span>回复</span>{{ ans.listen_nickname
                      }}:</div>
                    <div class="comment-ans__content" @click="fnAnswerComment(i, el.id, ans.user_id)">{{ ans.answer }}</div>
                  </div>
                </div>
              </div>
              <div style="height: 50px" v-show="!infiniteLoading && !infiniteFinished"></div>
              <div class="light" style="font-size: .65rem;" v-if="!comments.length && infiniteFinished">
                <img src="../../icon/no_comments.png" width="180">我们需要您的神评论
              </div>
              <div v-if="comments.length && infiniteFinished" class="load-more">-- 没有更多了 --</div>
            </van-list>
          </div>
          <!-- <div class="cell" id="comments">
            <div class="cell__title">精彩评论</div>
          </div> -->
        </div>
      </div>
    </section>
    <footer class="foot-action">
      <div class="action-bar">
        <div class="action-bar__item comment-input">
          <div class="comment-input__wrap" @click="openCommentInputFrame">随便说点什么吧...</div>
        </div>
        <div class="action-bar__item">
          <div class="action-bar__icon" @click="onTabchange(1)"><img src="../../icon/ico_message_white.png"></div>
          <div class="aui-badge" v-show="live.comments">{{ live.comments }}</div>
        </div>
        <div class="action-bar__item">
          <div class="action-bar__icon" :class="{'toggling': iconToggle.like}" @click="fnLike">
            <img :src="live.is_like ? '../../icon/ico_like_red.png' : '../../icon/ico_thumbsup_white.png'">
          </div>
          <div class="aui-badge" v-show="live.star">{{ live.star }}</div>
        </div>
        <div class="action-bar__item">
          <div class="action-bar__icon"><img src="../../icon/ico_export_white.png"></div>
        </div>
      </div>
    </footer>
  </div>
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script src="../../script/vue/components.js"></script>
<script src="../../script/vue/filter.js"></script>
<script src="../../script/ajax.js"></script>
<script type="text/javascript">
  var _extends = Object.assign || function (target) {
    for (var i = 1; i < arguments.length; i++) {
      var source = arguments[i];
      for (var key in source) {
        if (Object.prototype.hasOwnProperty.call(source, key)) {
          target[key] = source[key];
        }
      }
    }
    return target;
  };

  function _toConsumableArray(arr) {
    if (Array.isArray(arr)) {
      for (var i = 0, arr2 = Array(arr.length); i < arr.length; i++) {
        arr2[i] = arr[i];
      }
      return arr2;
    } else {
      return Array.from(arr);
    }
  }

  var data = {
    active: 0,
    live: {},
    author: {},
    comments: [],
    video: {},
    isPlaying: false,
    page: 1,
    pageCount: 10,
    infiniteLoading: false,
    infiniteFinished: false,
    iconToggle: {
      like: false,
    }, // 标志位, 控制点赞icon的切换效果
    coverHeight: 120, // 直播封面默认高度
  };
  var playModule, header_h;

  var vm = new Vue({
    el: '#app',
    data: data,
    methods: {
      fetchProps: function fetchProps() {
        this.live = _extends({}, api.pageParam.live.video_live_detail);
        this.author = _extends({}, api.pageParam.live.author);
        this.comments = [].concat(_toConsumableArray(api.pageParam.comments.comment_list));
        this.infiniteFinished = Boolean(api.pageParam.comments.bottom_key);
      },
      initPlayer: function initPlayer() {
        var _this = this,
          url;

        // status: 1-直播进行中，优先解析hls流；3-已有回放地址，解析video_url
        if (this.live.status === 3) {
          url = this.live.video_url;
        } else {
          url = this.live.hls_url ? this.live.hls_url : this.live.rtmp_url;
        }

        playModule = api.require('playModule');

        playModule.init({
          // background: 'http://192.168.0.108:8881/image/thumb2.jpg',
          background: _this.live.cover,
          isShowBottomBtn: true,
          isMultiWindow: true,
        });

        playModule.play({
          rect: {
            x: 0,
            y: header_h,
            w: api.winWidth,
            h: api.winWidth * 0.65
          },
          fixedOn: api.frameName,
          fixed: true,
          title: '',
          // url: 'rtmp://10454.liveplay.myqcloud.com/live/yspd',
          url: url,
          defaultBtn: true,
          enableFull: false,
          enableFullAutoClose: false,
          isTopView: true,
          isFullBtn: true,
          isBackBtn: true,
          fullscreenMode: 'LANDSCAPE',
          isShowTimeLable: true,
          isAutoPlay: true
        }, function (ret, err) {
          if (ret) {
            console.log(JSON.stringify(ret));
          } else {
            console.log(JSON.stringify(err));
          }
        });

        playModule.addEventListener({
          name: 'backBtn'
        }, function (ret, err) {
          console.log('窗口back');
          _this.fnCleanPlayer();
        });

        playModule.addEventListener({
          name: 'full'
        }, function (ret, err) {
          console.log(JSON.stringify(ret))
          console.log('全屏');
          // 禁止iOS右滑关闭window
          api.setWinAttr({
            slidBackEnabled: false
          });
        });

        playModule.addEventListener({
          name: 'unfull'
        }, function (ret, err) {
          console.log('退出全屏');
          // 开启iOS右滑关闭window
          api.setWinAttr({
            slidBackEnabled: true
          });
        });

        api.execScript({
          script: 'addEventListenerKeyback();'
        });
      },
      initLayout: function initLayout() {
        var screenWidth = window.screen.width,
          screenHeight = window.screen.height;
        $api.css(document.querySelector('#app'), 'width: ' + screenWidth + 'px;height: ' + screenHeight + 'px');

        $api.fixStatusBar(document.querySelector('header'));
        header_h = $api.offset(document.querySelector('header')).h;

        // $api.css(document.querySelector('header'), 'padding-top: 20px;');
        // header_h = 20;

        if (this.live.status === 0 || this.live.status === 2) $api.css(document.querySelector('.live__cover'),
          'width: 100%;height: ' + screenWidth * 0.65 + 'px');

        $api.css(document.querySelector('.info'), 'top: ' + (screenWidth * 0.65 + header_h) + 'px;height: ' + (
          screenHeight - screenWidth * 0.65 - header_h - 60) + 'px;');

        var authorDomH = $api.offset(document.querySelectorAll('.info__section')[0]).h;
        var tabPaneDom = document.querySelectorAll('.tab-pane');
        tabPaneDom.forEach(function (el) {
          $api.css(el, 'height: ' + (screenHeight - screenWidth * 0.65 - header_h - authorDomH - 105) + 'px');
        });
        // $api.css(document.querySelectorAll('.info__section')[1], 'height: ' + (screenHeight - screenWidth * 0.65 - header_h - 60 - introDomHeight) + 'px');
      },
      init: function init() {
        var _this3 = this;

        this.fetchProps();
        setTimeout(function () {
          _this3.initLayout();
          _this3.initPlayer();
        }, 100);
      },
      onTabchange: function onTabchange(i) {
        this.active = i;
      },
      onLoad: function onLoad() {
        // 根据分页获取视频评论列表
        this.page++;

        $ajax_post('appcomment/comment_list', {
          user_id: 100000,
          id: this.live.id,
          page: this.page,
          page_count: this.pageCount,
          type: 6
        }, function (res) {
          res.comment_list.forEach(function (el) {
            this.comments.push(el);
          });

          this.infiniteLoading = false; // 控制加载结束
          if (res.bottom_key) this.infiniteFinished = true; // 已是最后一页
        }, {
          hideLoading: true
        });
      },
      fnIsPlayerFull: function fnIsPlayerFull() {
        var _this = this;
        playModule.isFullScreen(function (ret, err) {
          // 是否是全屏状态
          if (ret.status) {
            console.log('是全屏，先退出全屏')
            playModule.unfull(function (ret, err) {}); // 退出全屏
          } else {
            console.log('不是全屏，关闭window')
            _this.fnCleanPlayer();
          }
        });
      },
      fnCleanPlayer: function fnCleanPlayer() {
        // 模块需要调用cleanPlayers方法，再关闭页面，否则会在后台驻留播放
        playModule.cleanPlayers(function (ret, err) {
          console.log('播放器清理')
          console.log(JSON.stringify(ret))
          api.closeWin(); // 关闭window
        });
      },
      fnFollow: function fnFollow() {
        this.live.is_follow_author ? this.onCancelFollow() : this.onFollow();
      },
      onFollow: function onFollow() {
        $ajax_post('appvideo/follow_video_author', {
          author_id: this.author.id,
          user_id: 100000
        }, function () {
          this.live.is_follow_author = 1;
        }, {
          hideLoading: true
        });
      },
      onCancelFollow: function onCancelFollow() {
        $ajax_post('appvideo/cancle_follow_video_author', {
          author_id: this.author.id,
          user_id: 100000
        }, function () {
          this.live.is_follow_author = 0;
        }, {
          hideLoading: true
        });
      },
      fnLike: function fnLike() {
        this.live.is_like ? this.onCancelLike() : this.onLike();
      },
      onLike: function onLike() {
        var _this5 = this;

        $ajax_post('applike/like', {
          user_id: 100000,
          id: this.live.id,
          type: 6
        }, function () {
          _this5.live.is_like = true;
          _this5.live.star++;

          // 点赞时icon切换效果控制
          _this5.iconToggle.like = true;
          setTimeout(function () {
            _this5.iconToggle.like = false;
          }, 150);

        }, {
          hideLoading: true
        });
      },
      onCancelLike: function onCancelLike() {
        var _this6 = this;

        $ajax_post('applike/cancle_like', {
          user_id: 100000,
          id: this.live.id,
          type: 6
        }, function () {
          _this6.live.is_like = false;
          _this6.live.star--;
        }, {
          hideLoading: true
        });
      },
      fnCommentLike: function fnCommentLike(i) {
        this.comments[i].is_like ? this.onCancelCommentLike(i) : this.onCommentLike(i);
      },
      onCommentLike: function onCommentLike(i) {
        $ajax_post('appcomment/comment_like', {
          user_id: 100000,
          comment_id: this.comments[i].id
        }, function () {
          this.comments[i].is_like = 1;
          this.comments[i].like_number++;
        }, {
          hideLoading: true
        });
      },
      onCancelCommentLike: function onCancelCommentLike(i) {
        $ajax_post('appcomment/cancle_comment_like', {
          user_id: 100000,
          comment_id: this.comments[i].id
        }, function () {
          this.comments[i].is_like = 0;
          this.comments[i].like_number--;
        }, {
          hideLoading: true
        });
      },
      fnAnswerComment(index, cId, lId = 0) {
        console.log(index)
        console.log(cId)
        console.log(lId)
        var _this = this;
        api.actionSheet({
          cancelTitle: '取消',
          buttons: ['回复']
        }, function (ret, err) {
          if (ret.buttonIndex == 1) {
            // 唤起输入框frame
            api.openFrame({
              name: 'comment_input_frm',
              url: '../common/comment_input_frm.html',
              rect: {
                x: 0,
                y: 0,
                w: 'auto',
                h: 'auto'
              },
              pageParam: {
                url: 'appcomment/answer_comment',
                params: {
                  news_id: _this.live.id,
                  user_id: 100000,
                  comment_id: cId,
                  listen_id: lId,
                  type: 6
                },
                from: api.frameName,
                callback: 'fnReplyCommentCallback',
                callbackParams: {
                  index
                }
              }
            });
          }
        });
      },
      fnReplyCommentCallback(el, params) {
        console.log(JSON.stringify(el))
        console.log(JSON.stringify(params))
        this.comments[params.index].answer_list.push(el);
        this.live.comments++;
      },
      fnSubmitCommentCallback: function fnSubmitCommentCallback(el) {
        console.log(JSON.stringify(el));
        this.comments.unshift(el);
        this.live.comments++;
      },
      fnShowNotice: function fnShowNotice() {
        // status: 0-提示未开始，2-提示已结束
        var msg = this.live.status === 0 ? '暂未开播，敬请期待' : '直播已结束，请等待回放';

        api.toast({
          msg: msg,
          duration: 1500,
          location: 'middle'
        });
      },
      openShareFrm: function openShareFrm() {
        api.openFrame({
          name: 'share_box_frm',
          url: '../common/share_box_frm.html',
          rect: {
            x: 0,
            y: 0,
            w: 'auto',
            h: 'auto'
          },
          animation: {
            type: 'fade'
          }
        });
      },
      openCommentInputFrame: function openCommentInputFrame() {
        api.openFrame({
          name: 'comment_input_frm',
          url: '../common/comment_input_frm.html',
          rect: {
            x: 0,
            y: 0,
            w: 'auto',
            h: 'auto'
          },
          pageParam: {
            url: 'appcomment/comment',
            params: {
              id: this.live.id,
              user_id: 100000,
              type: 6
            },
            from: api.frameName,
            callback: 'fnSubmitCommentCallback',
            callbackParams: {}
          }
        });
      },
      toLiveAuthor: function toVideoAuthor(id) {
        console.log(id)
        // 先暂停播放，再跳转页面
        playModule.pause(function (ret, err) {
          console.log(JSON.stringify(ret));
        });

        api.openWin({
          name: 'live_author_win',
          url: '../live_author/live_author_win.html',
          bounces: false,
          pageParam: {
            id: id,
          }
        });
      },
    },
    mounted() {
      this.coverHeight = document.body.clientWidth * 0.65;
    },
  });

  apiready = function apiready() {
    vm.init();
  };

  setTimeout(function () {
    if (typeof api === 'undefined') {
      api = {
        pageParam: {}
      };
      apiready();
    }
  }, 500);
</script>

</html>