/*
 * 视频详情页样式 
 */

.aui-bar-nav {
  background-color: transparent;
}

#app {
  position: relative;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  overflow-y: auto;
}

.info__wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  filter: blur(15px);
  z-index: -2;
}

.info__wrap::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .45);
  z-index: -1;
}

.info__section:nth-child(2) {
  background-color: rgba(0, 0, 0, .3);
}

.info__section .cell {
  padding: .7rem .75rem;
  background-color: transparent;
  color: #fff;
}

.info__section .cell__title {
  font-size: .8rem;
  font-weight: 700;
}

.intro {
  padding: 0 .75rem 1.5rem;
  /* min-height: 278px; */
  background-color: rgba(255, 255, 255, .15);
  color: #fff;
}

.intro__title {
  padding: .75rem 0;
  font-size: .8rem;
  /* line-height: 2.5rem; */
  font-weight: 700;
}

.intro__desc {
  padding-bottom: 1.2rem;
  font-size: .65rem;
}

.intro__author {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: .75rem 0;
  width: 80%;
  background-color: rgba(0, 0, 0, .45);
  border-radius: .5rem;
}

.intro__author-avatar {
  margin-right: .5rem;
  width: 36px;
  height: 36px;
}

.intro__author-avatar img {
  border-radius: 50%;
  max-height: 100%;
}

.intro__author-detail {
  display: flex;
  align-items: center;
}

.intro__author-nickname {
  line-height: 1.5rem;
  font-size: .6rem;
}

.intro__author-extra {
  display: flex;
  align-items: center;
  font-size: .6rem;
}

.intro__author-extra img {
  margin-right: .2rem;
  width: 12px;
}

.intro__author-extra img:last-child {
  margin-left: .75rem;
}

.intro__author-btn {
  width: 2.5rem;
}

.video-player {
  background-color: #000000;
}

.action-bar {
  background-color: #313131;
}

.comment-input__wrap {
  background: rgb(83, 83, 83);
  color: #fff;
}

.comment-input__wrap:active {
  background: rgb(136, 136, 136);
}

.comments {
  padding: 0 .75rem;
}

.comment__nickname,
.comment__desc,
.comment__reply {
  color: #fff;
}

.comment__desc:active,
.comment-ans__content:active {
  background-color: rgba(255, 255, 255, .15);
}