<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
  <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
  <link rel="stylesheet" type="text/css" href="../../css/aui/aui.css" />
  <link rel="stylesheet" href="../../script/vant/index.css">
  <link rel="stylesheet" href="../../css/custom/common.css">
  <link rel="stylesheet" href="../../css/custom/components/comments.css">
  <link rel="stylesheet" href="../../css/custom/components/foot-action.css">
  <link rel="stylesheet" href="../../css/custom/page/audio-detail.css">
  <script src="../../script/vue/vue.js"></script>
  <script src="../../script/vant/vant.min.js"></script>
</head>

<body>
  <div id="app" v-cloak>
    <div class="container">
      <!-- 头部、封面、折叠状态控制栏 -->
      <header class="player-slim">
        <div class="player-slim__back" onclick="onCloseWin()">
          <img src="../../icon/ico_back.png" width="18">
        </div>
        <div class="player-slim__cover">
          <!-- <img :src="info.cover"> -->
          <v-img :url="audio.cover" err="../../image/default.png"></v-img>
        </div>
        <div class="player-slim__control">
          <div class="player-slim__control-pre" @click="fnPlayPre"><img :src="audio.previous_id ? '../../icon/but_shang_normal.png' : '../../icon/but_shang_disabled.png'"></div>
          <div class="player-slim__control-play">
            <img :src="isPlaying ? '../../icon/media-pause.png' : '../../icon/but_play_small.png'" @click="fnPlay">
          </div>
          <div class="player-slim__control-next" @click="fnPlayNext"><img :src="audio.next_id ? '../../icon/but_xia_normal.png' : '../../icon/but_xia_disabled.png'"></div>
        </div>
      </header>
      <!-- END -->
      <!-- 播放器面板 -->
      <section class="player">
        <div class="player__cover">
          <div class="player__cover-thumb">
            <!-- <img :src="info.cover"> -->
            <v-img :url="audio.cover" err="../../image/default.png"></v-img>
          </div>
          <div class="player__cover-mask">
            <header id="head" class="aui-bar aui-bar-nav">
              <a class="aui-btn aui-pull-left" tapmode onclick="onCloseWin()">
                <img src="../../icon/ico_back_white.png" width="18">
              </a>
              <div class="aui-title"></div>
              <a class="aui-btn aui-pull-right" tapmode @click="openShareFrm">
                <img src="../../icon/ico_export_white.png" width="18">
              </a>
            </header>
            <div v-if="!isPrepare">
              <van-loading type="spinner" color="white" size="48px" />
            </div>
            <img v-else src="../../image/img_play.png" width="60">
          </div>
        </div>
        <div class="player__panel">
          <div class="player__title dark">{{ audio.name }}</div>
          <div class="player__progress">
            <div class="player__progress-current gray">{{ duration.current | duration-time }}</div>
            <div class="player__progress-line">
              <div class="aui-progress aui-progress-xxs">
                <div class="aui-progress-bar" id="progress_bar" :style="{width: progress + '%'}"></div>
              </div>
            </div>
            <div class="player__progress-duration gray">{{ duration.total | duration-time }}</div>
          </div>
          <div class="player__control">
            <div class="player__control-pre" @click="fnPlayPre"><img :src="audio.previous_id ? '../../icon/icon_pre.png' : '../../icon/icon_pre_disable.png'"></div>
            <div class="player__control-play">
              <img :src="isPlaying ? '../../icon/icon_pause.png' : '../../icon/icon_play.png'" @click="fnPlay">
            </div>
            <div class="player__control-next" @click="fnPlayNext"><img :src="audio.next_id ? '../../icon/icon_next.png' : '../../icon/icon_next_disable.png'"></div>
          </div>
        </div>
      </section>
      <!-- END -->
      <!-- 音频相关信息、折叠块 -->
      <section class="info">
        <div class="info__section">
          <div class="cell">
            <div class="cell__title dark">栏目介绍</div>
          </div>
          <div class="intro" @click="toAudioAuthor(author.id)">
            <div class="intro__avatar">
              <!-- <img :src="intro.avatar"> -->
              <v-img :url="author.avatar" err="../../image/avatar.png"></v-img>
            </div>
            <div class="intro__detail">
              <div class="intro__nickname dark">{{ author.user_name }}
                <div @click.stop="fnFollow">
                  <img :src="audio.is_follow ? '../../icon/btn_followed.png' : '../../icon/btn_follow.png'">
                </div>
              </div>
              <div class="intro__desc">{{ author.self_introduce }}</div>
            </div>
          </div>
        </div>
        <div class="info__section" v-show="list.length">
          <div class="cell">
            <div class="cell__title dark">选集</div>
            <!-- <div class="cell__value" @click="isShowPlayList = !isShowPlayList"> -->
            <div class="cell__value" @click="fnOpenPlayListFrame">
              <img src="../../icon/ico_xuanji.png" width="18">
            </div>
          </div>
          <div class="play-list" @touchstart.stop="fnSlideTouch" @touchmove.stop="fnSlideTouch" @touchend.stop="fnSlideTouch">
            <div class="play-list__wrap">
              <div v-for="(el, i) in list" :key="i" class="play-list__panel" @click.stop="fnSwitchUrl(el.id)">
                <div class="play-list__content">
                  <div class="play-list__thumb">
                    <!-- <img :src="el.thumb"> -->
                    <v-img :url="el.cover" err="../../image/default.png"></v-img>
                  </div>
                  <div class="play-list__title">
                    <div class="dark aui-ellipsis-2">{{ el.name }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info__section" style="margin-bottom: 60px;">
          <div class="cell" id="comments">
            <div class="cell__title dark">精彩评论</div>
          </div>
          <!-- <div class="comments list" :class="{'empty': !comments.length}"> -->
          <van-list class="comments list" :class="{'empty': !comments.list.length}" v-model="comments.infiniteLoading"
            :offset="60" :finished="comments.infiniteFinished" :immediate-check="false" @load="fnCommentsLoad">
            <div v-for="(el, i) in comments.list" :key="i" class="comment__panel">
              <div class="comment__info">
                <div class="comment__avatar">
                  <!-- <img :src="el.avatar"> -->
                  <v-img :url="el.head_pic" err="../../image/avatar.png"></v-img>
                </div>
                <div>
                  <div class="comment__nickname dark">{{ el.user_nickname }}
                    <div class="comment__like" @click="fnCommentLike(i)">
                      <span v-if="el.like_number">{{ el.like_number }}</span>
                      <div><img :src="el.is_like ? '../../icon/ico_like_red.png' : '../../icon/ico_like.png'" width="18"></div>
                    </div>
                  </div>
                  <div class="comment__desc dark" @click="fnAnswerComment(i, el.id)">{{ el.comment }}</div>
                  <div class="comment__time gray">{{ el.timestamp | interval-time }}</div>
                </div>
              </div>
              <div class="comment__reply" v-if="el.answer_list.length">
                <div v-for="(ans, j) in el.answer_list" :key="j" class="comment-ans__panel hairline">
                  <div class="comment-ans__user" v-if="ans.user_nickname === ans.listen_nickname">{{ ans.user_nickname
                    }}:</div>
                  <div class="comment-ans__user" v-else>{{ ans.user_nickname }}<span>回复</span>{{ ans.listen_nickname
                    }}:</div>
                  <div class="comment-ans__content" @click="fnAnswerComment(i, el.id, ans.user_id)">{{ ans.answer }}</div>
                </div>
              </div>
            </div>
            <div style="height: 50px" v-show="!comments.infiniteLoading && !comments.infiniteFinished"></div>
            <div class="light" style="font-size: .65rem;" v-if="!comments.list.length && comments.infiniteFinished">
              <img src="../../icon/no_comments.png" width="180">我们需要您的神评论
            </div>
            <div v-if="comments.list.length && comments.infiniteFinished" class="load-more">-- 没有更多了 --</div>
            <!-- </div> -->
          </van-list>
        </div>
        <footer class="info__action-bar" :class="{'scrolled': isFold}">
          <div class="action-bar hairline">
            <div class="action-bar__item comment-input">
              <div class="comment-input__wrap" @click="openCommentInputFrame">随便说点什么吧...</div>
            </div>
            <div class="action-bar__item">
              <div class="action-bar__icon">
                <a href="#comments"><img src="../../icon/ico_message.png"></a>
              </div>
              <div class="aui-badge dark" v-show="audio.comments">{{ audio.comments | views }}</div>
            </div>
            <div class="action-bar__item">
              <div class="action-bar__icon" :class="{'toggling': iconToggle.like}" @click="fnLike">
                <img :src="audio.is_like ? '../../icon/ico_like_red.png' : '../../icon/ico_like.png'">
              </div>
              <div class="aui-badge dark" v-show="audio.star">{{ audio.star | views }}</div>
            </div>
            <div class="action-bar__item">
              <div class="action-bar__icon" :class="{'toggling': iconToggle.collect}" @click="fnCollect">
                <img :src="audio.is_collect ? '../../icon/ico_star_red.png' : '../../icon/ico_star.png'">
              </div>
            </div>
          </div>
        </footer>
      </section>
      <!-- END -->
    </div>
  </div>
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script src="../../script/vue/components.js"></script>
<script src="../../script/vue/filter.js"></script>
<script src="../../script/ajax.js"></script>
<script type="text/javascript">
  var _extends = Object.assign || function (target) {
    for (var i = 1; i < arguments.length; i++) {
      var source = arguments[i];
      for (var key in source) {
        if (Object.prototype.hasOwnProperty.call(source, key)) {
          target[key] = source[key];
        }
      }
    }
    return target;
  };

  function _toConsumableArray(arr) {
    if (Array.isArray(arr)) {
      for (var i = 0, arr2 = Array(arr.length); i < arr.length; i++) {
        arr2[i] = arr[i];
      }
      return arr2;
    } else {
      return Array.from(arr);
    }
  }

  var data = {
    audio: {},
    author: {},
    list: [],
    comments: {
      list: [],
      page: 1,
      pageCount: 10,
      infiniteLoading: false,
      infiniteFinished: false
    },
    // isShowPlayList: false,
    isFold: false, // 是否已是折叠状态
    startPointY: 0,
    // currPointY: 0,
    foldInitY: 0, // 可滑动折叠部分的初始位置(离顶部)
    foldTrendY: 0, // 判断滑动趋势参照距离
    foldTrend: 0, // 折叠块滑动趋势, 1 向上, 2 向下, 0 初始
    isRefoldable: true, // 是否可复原
    iconToggle: {
      like: false,
      collect: false
    }, // 标志位, 控制点赞、收藏 icon的切换效果
    isReloadPlayer: false, // 是否重载播放器
    duration: {
      current: 0,
      total: 0
    }, // 播放时长(均初始化为0，待数据加载完成后根据audioStreamer模块openPlayer方法返回总时长再回写)
    progress: 0, // 播放进度
    isPrepare: false, // 当前音频是否准备完成（可播放）
    isPlaying: false, // 当前音频是否在播放
    isFinished: false // 当前音频是否播放结束
  };
  var container = null,
    audioStreamer = null;

  var vm = new Vue({
    el: '#app',
    data: data,
    watch: {
      isRefoldable: function isRefoldable() {
        if (!this.isRefoldable) {
          console.log('现在不能复原');
          container.removeEventListener('touchmove', this.fnFoldTouchmove, false);
        }
      }
    },
    methods: {
      fetchProps: function fetchProps() {
        this.audio = _extends({}, api.pageParam.data);
        this.list = [].concat(_toConsumableArray(api.pageParam.data.selections));
        this.author = _extends({}, api.pageParam.data.author);
        this.comments.list = [].concat(_toConsumableArray(api.pageParam.comments.comment_list));
        this.comments.infiniteFinished = Boolean(api.pageParam.comments.bottom_key);
        this.isReloadPlayer = api.pageParam.reload;
      },
      initLayout: function initLayout() {
        var screenH = document.documentElement.clientHeight; // 当前窗口高度

        var playerDom = document.querySelector('section.player');
        var infoDom = document.querySelector('section.info');

        // console.log(playerDom.offsetHeight);
        this.foldInitY = playerDom.offsetHeight;
        infoDom.style.top = playerDom.offsetHeight + 'px';

        var authorDomH = document.querySelectorAll('.info__section')[0].offsetHeight;

        $api.css(document.querySelector('.comments'), 'min-height: ' + (screenH - authorDomH - 341) + 'px');
      },
      /* initPlayer: function initPlayer() {
        // 初始化播放器，调用audioStreamer模块
        audioStreamer = api.require('audioStreamer');
         // 开始播放
        audioStreamer.openPlayer({
            path: this.audio.audio_url,
        }, ret => {
          if (ret.status) {
            // console.log(JSON.stringify(ret));
            this.duration.total = ret.duration;    // 获取音频时长
             this.isPlaying = true;
             // 监听播放进度
            audioStreamer.addProgressListener({}, ret1 => {
              this.progress = ret1.progress;    // 获取播放进度
               audioStreamer.getCurrentTime(ret2 => {
                this.duration.current = ret2.current;    //
              });
            });
          }
        });
         // 播放状态监听
        audioStreamer.addEventListener({
        }, ret => {
          // console.log(JSON.stringify(ret));
          if (ret.state === 'finished') {
            this.isPlaying = false;
          } else if (ret.state === 'prepare') {
            this.isPrepare = true;    // 加载完毕开始播放, 关闭loading动画
          }
        });
      }, */
      initAudioPlayer: function initAudioPlayer() {
        console.log('是否重载音频播放器_' + this.isReloadPlayer);
        if (this.isReloadPlayer) {
          api.execScript({
            name: 'index',
            script: 'onStop();'
          });

          var script = 'initPlayer(' + JSON.stringify(this.audio.audio_url) + ');';
          api.execScript({
            name: 'index',
            script: script
          });
        } else {
          // 音频播放途中打开(url不改变), 根据本地存储的当前音频状态，修改状态标识
          var status = Number(localStorage.getItem('local_audio_status'));
          // console.log('local_audio_status_' + status)

          this.duration.total = Number(localStorage.getItem('local_audio_duration'));
          this.isPrepare = true;

          if (status) {
            this.isPlaying = true;
          } else {
            this.isPlaying = false;

            this.duration.current = Number(localStorage.getItem('local_audio_current'));
            this.progress = Math.floor(this.duration.current / this.duration.total * 100); // 读取当前进度和总时长后计算出百分比进度(向下取整)
          }
        }
      },
      initAudioEventListener: function initAudioEventListener() {
        var _this2 = this;

        // 开始监听音频播放相关的一系列自定义事件

        // 初始播放
        api.addEventListener({
          name: 'audio_initPlay'
        }, function (ret) {
          _this2.audioInitPlayCallback(ret.value.duration);
        });

        // 播放进度变化
        api.addEventListener({
          name: 'audio_progress'
        }, function (ret) {
          _this2.audioProgressCallback(ret.value.progress);
        });

        // 当前播放事件变化
        api.addEventListener({
          name: 'audio_currentTime'
        }, function (ret) {
          _this2.audioCurrentTime(ret.value.current);
        });

        // 播放结束
        api.addEventListener({
          name: 'audio_finished'
        }, function (ret) {
          _this2.audioFinishedCallback();
        });

        // 暂停
        api.addEventListener({
          name: 'audio_pause'
        }, function (ret) {
          _this2.audioPauseCallback();
        });

        // 恢复播放
        api.addEventListener({
          name: 'audio_resume'
        }, function (ret) {
          _this2.audioResumeCallback();
        });
      },
      init: function init() {
        this.fetchProps();
        this.initLayout();
        // this.initPlayer();
        this.initAudioPlayer();
        this.initAudioEventListener();
      },
      audioInitPlayCallback: function audioInitPlayCallback(duration) {
        // 音频开始播放回调（初始化时）
        this.duration.total = duration;
        this.isPrepare = true;
        this.isPlaying = true;
      },
      audioFinishedCallback: function audioFinishedCallback() {
        // 音频播放结束，修改状态标识
        this.isPlaying = false;
        this.isFinished = true;
      },
      audioProgressCallback: function audioProgressCallback(progress) {
        this.progress = progress; // 获取播放进度
      },
      audioCurrentTime: function audioCurrentTime(time) {
        this.duration.current = time;
      },
      audioPauseCallback: function audioPauseCallback() {
        this.isPlaying = false;
      },
      audioResumeCallback: function audioResumeCallback() {
        this.isPlaying = true;
      },

      fnPlay: function fnPlay() {
        this.isPlaying ? this.onPause() : this.onPlay();
      },
      onPlay: function onPlay() {
        if (!this.isPrepare) return; // 音频未准备好不执行后续播放逻辑

        if (this.isFinished) {
          // 若音频播放结束，重新播放 ---- （暂按此处理）
          this.isPrepare = false;

          var script = 'initPlayer(' + JSON.stringify(this.audio.audio_url) + ');';
          api.execScript({
            name: 'index',
            script: script
          });

          return;
        }

        // 播放音频，根据Android和iOS进行不同处理（audioStreamer模块规定）
        var system = api.systemType === 'android' ? 1 : 0;
        api.execScript({
          name: 'index',
          script: 'onResume(' + system + ');'
        });
      },
      onPause: function onPause() {
        api.execScript({
          name: 'index',
          script: 'onPause();'
        });
      },
      fnPlayPre: function fnPlayPre() {
        if (this.audio.previous_id) this.fnSwitchUrl(this.audio.previous_id);
        else api.toast({
          msg: '已经是第一首了~',
          duration: 1500,
          location: 'middle'
        });
      },
      fnPlayNext: function fnPlayNext() {
        if (this.audio.next_id) this.fnSwitchUrl(this.audio.next_id);
        else api.toast({
          msg: '暂无更多音频~',
          duration: 1500,
          location: 'middle'
        });
      },
      fnSwitchUrl: function fnSwitchUrl(id) {
        // 切换音频
        api.execScript({
          script: 'switchAudio(' + id + ');'
        });
      },
      fnFoldTouchstart: function fnFoldTouchstart(event) {
        // console.log('touchstart')
        var infoDom = document.querySelector('.info');
        var slimHeader = document.querySelector('.player-slim');

        $api.css(infoDom, 'transition: top 0s;-webkit-transition: top 0s;');
        $api.css(slimHeader, 'transition: transform 0s;-webkit-transition: transform 0s;');

        var startPoint = event.targetTouches[0];
        this.startPointY = this.foldTrendY = startPoint.clientY;

        if (this.isRefoldable) container.addEventListener('touchmove', this.fnFoldTouchmove, false);
      },
      fnFoldTouchmove: function fnFoldTouchmove(event) {
        var infoDom = document.querySelector('.info');
        var slimHeader = document.querySelector('.player-slim');
        var foldMaxD = document.querySelector('section.player').offsetHeight - slimHeader.offsetHeight; // 折叠块滑动的最大距离

        var movePointY = event.changedTouches[0].clientY;
        var dY = movePointY - this.startPointY;
        var precent = (Math.abs(dY) / foldMaxD).toFixed(2) * 100;

        if (precent > 100) precent = 100;

        if (this.isFold) {
          if (dY <= 10) return false;

          event.preventDefault();

          GetSlideDirection(movePointY);

          if (infoDom.offsetTop < this.foldInitY) {
            // console.log(precent);

            $api.css(slimHeader, 'transform: translate3d(0,-' + precent +
              '%,0);-webkit-transform: translate3d(0,-' + precent + '%,0);');
            infoDom.style.top = slimHeader.offsetHeight + dY + 'px';
          }
        } else {
          event.preventDefault();

          if (dY >= -10) return false; // 上滑阈值 10
          // console.log(movePointY)
          GetSlideDirection(movePointY);

          if (infoDom.offsetTop > slimHeader.offsetHeight) {
            precent -= 100;
            // console.log(precent);

            $api.css(slimHeader, 'transform: translate3d(0,' + precent + '%,0);-webkit-transform: translate3d(0,' +
              precent + '%,0);');
            infoDom.style.top = this.foldInitY + dY + 'px';
          }
        }
      },
      fnFoldTouchend: function fnFoldTouchend(event) {
        // console.log('touchend')
        var infoDom = document.querySelector('.info');
        var slimHeader = document.querySelector('.player-slim');

        $api.css(infoDom, 'transition: top .3s;-webkit-transition: top .3s;');
        $api.css(slimHeader, 'transition: transform .3s;-webkit-transition: transform .3s;');

        if (this.isFold) {
          if (infoDom.offsetTop >= this.foldInitY) {
            infoDom.style.top = this.foldInitY + 'px';
            this.isFold = false;
          } else {
            // infoDom.style.top = _this.foldTrend ? _this.foldInitY + 'px' : slimHeader.offsetHeight + 'px';
            if (this.foldTrend === 2) {
              $api.css(slimHeader, 'transform: translate3d(0,-100%,0);-webkit-transform: translate3d(0,-100%,0);');
              infoDom.style.top = this.foldInitY + 'px';
              this.isFold = false;
            } else if (this.foldTrend === 1) {
              $api.css(slimHeader, 'transform: translate3d(0,0,0);-webkit-transform: translate3d(0,0,0);');
              infoDom.style.top = slimHeader.offsetHeight + 'px';
            }
          }
        } else {
          // console.log('no fold', infoDom.offsetTop, this.foldTrend)
          if (infoDom.offsetTop <= slimHeader.offsetHeight) {
            infoDom.style.top = slimHeader.offsetHeight + 'px';
            this.isFold = true;
          } else {
            // infoDom.style.top = _this.foldTrend ? _this.foldInitY + 'px' : slimHeader.offsetHeight + 'px';
            if (this.foldTrend === 2) {
              $api.css(slimHeader, 'transform: translate3d(0,-100%,0);-webkit-transform: translate3d(0,-100%,0);');
              infoDom.style.top = this.foldInitY + 'px';
            } else if (this.foldTrend === 1) {
              $api.css(slimHeader, 'transform: translate3d(0,0,0);-webkit-transform: translate3d(0,0,0);');
              infoDom.style.top = slimHeader.offsetHeight + 'px';
              this.isFold = true;
            }
          }
        }
      },
      fnSlideTouch: function fnSlideTouch() {
        // 避免触摸到slide时，事件冒泡
        // console.log('touch slide');
      },
      handlerScroll: function handlerScroll(event) {
        // 仅在折叠状态会产生滑动
        var scrolly = document.scrollingElement.scrollTop;
        this.isRefoldable = scrolly === 0 ? true : false;
        // console.log(scrolly);
      },
      fnCommentsLoad: function fnCommentsLoad() {
        var _this3 = this;

        this.comments.page++;

        $ajax_post('appcomment/comment_list', {
          user_id: 100000,
          id: this.audio.id,
          page: this.comments.page,
          page_count: this.comments.pageCount,
          type: 2
        }, function (res) {
          var _comments$list;

          (_comments$list = _this3.comments.list).push.apply(_comments$list, _toConsumableArray(res.comment_list));

          _this3.comments.infiniteLoading = false;
          if (res.bottom_key) _this3.comments.infiniteFinished = true;
        }, {
          hideLoading: true
        });
      },
      fnFollow: function fnFollow() {
        console.log(this.audio.is_follow);
        this.audio.is_follow ? this.onCancelFollow() : this.onFollow();
      },
      onFollow: function onFollow() {
        var _this4 = this;

        $ajax_post('appaudio/follow_audio_author', {
          user_id: 100000,
          author_id: this.author.id
        }, function () {
          _this4.audio.is_follow = 1;
        }, {
          hideLoading: true
        });
      },
      onCancelFollow: function onCancelFollow() {
        var _this5 = this;

        $ajax_post('appaudio/cancle_follow_audio_author', {
          user_id: 100000,
          author_id: this.author.id
        }, function () {
          _this5.audio.is_follow = 0;
        }, {
          hideLoading: true
        });
      },
      fnFollowCallback: function fnFollowCallback(type) {
        this.audio.is_follow = type;
      },
      fnLike: function fnLike() {
        this.audio.is_like ? this.onCancelLike() : this.onLike();
      },
      onLike: function onLike() {
        var _this6 = this;

        $ajax_post('applike/like', {
          user_id: 100000,
          id: this.audio.id,
          type: 2
        }, function () {
          _this6.audio.is_like = 1;
          _this6.audio.star++;

          // 点赞时icon切换效果控制
          _this6.iconToggle.like = true;
          setTimeout(function () {
            _this6.iconToggle.like = false;
          }, 150);
        }, {
          hideLoading: true
        });
      },
      onCancelLike: function onCancelLike() {
        var _this7 = this;

        $ajax_post('applike/cancle_like', {
          user_id: 100000,
          id: this.audio.id,
          type: 2
        }, function () {
          _this7.audio.is_like = 0;
          _this7.audio.star--;
        }, {
          hideLoading: true
        });
      },
      fnCollect: function fnCollect() {
        this.audio.is_collect ? this.onCancelCollect() : this.onCollect();
      },
      onCollect: function onCollect() {
        var _this8 = this;

        $ajax_post('appcollect/collect', {
          user_id: 100000,
          id: this.audio.id,
          type: 2
        }, function () {
          _this8.audio.is_collect = 1;

          // 收藏时icon切换效果控制
          _this8.iconToggle.collect = true;
          setTimeout(function () {
            _this8.iconToggle.collect = false;
          }, 150);
        }, {
          hideLoading: true
        });
      },
      onCancelCollect: function onCancelCollect() {
        var _this9 = this;

        $ajax_post('appcollect/cancle_collect', {
          user_id: 100000,
          id: this.audio.id,
          type: 2
        }, function () {
          _this9.audio.is_collect = 0;
        }, {
          hideLoading: true
        });
      },
      fnCommentLike: function fnCommentLike(i) {
        this.comments.list[i].is_like ? this.onCancelCommentLike(i) : this.onCommentLike(i);
      },
      onCommentLike: function onCommentLike(i) {
        var _this10 = this;

        $ajax_post('appcomment/comment_like', {
          user_id: 100000,
          comment_id: this.comments.list[i].id
        }, function (res) {
          _this10.comments.list[i].is_like = 1;
          _this10.comments.list[i].like_number++;
        }, {
          hideLoading: true
        });
      },
      onCancelCommentLike: function onCancelCommentLike(i) {
        var _this11 = this;

        $ajax_post('appcomment/cancle_comment_like', {
          user_id: 100000,
          comment_id: this.comments.list[i].id
        }, function (res) {
          _this11.comments.list[i].is_like = 0;
          _this11.comments.list[i].like_number--;
        }, {
          hideLoading: true
        });
      },
      openShareFrm: function openShareFrm() {
        api.openFrame({
          name: 'share_box_frm',
          url: '../common/share_box_frm.html',
          rect: {
            x: 0,
            y: 0,
            w: 'auto',
            h: 'auto'
          },
          animation: {
            type: 'fade'
          }
        });
      },
      openCommentInputFrame: function openCommentInputFrame() {
        api.openFrame({
          name: 'comment_input_frm',
          url: '../common/comment_input_frm.html',
          rect: {
            x: 0,
            y: 0,
            w: 'auto',
            h: 'auto'
          },
          pageParam: {
            url: 'appcomment/comment',
            params: {
              id: this.audio.id,
              user_id: 100000,
              type: 2
            },
            from: api.frameName,
            callback: 'fnSubmitCommentCallback',
            callbackParams: {}
          }
        });
      },
      fnSubmitCommentCallback: function fnSubmitCommentCallback(el) {
        console.log(JSON.stringify(el));
        this.comments.list.unshift(el);
        this.audio.comments++;
      },
      fnAnswerComment: function fnAnswerComment(index, cId) {
        var lId = arguments.length > 2 && arguments[2] !== undefined ? arguments[2] : 0;

        console.log(index);
        console.log(cId);
        console.log(lId);
        var _this = this;
        api.actionSheet({
          cancelTitle: '取消',
          buttons: ['回复']
        }, function (ret, err) {
          if (ret.buttonIndex == 1) {
            // 唤起输入框frame
            api.openFrame({
              name: 'comment_input_frm',
              url: '../common/comment_input_frm.html',
              rect: {
                x: 0,
                y: 0,
                w: 'auto',
                h: 'auto'
              },
              pageParam: {
                url: 'appcomment/answer_comment',
                params: {
                  news_id: _this.audio.id,
                  user_id: 100000,
                  comment_id: cId,
                  listen_id: lId,
                  type: 2
                },
                from: api.frameName,
                callback: 'fnReplyCommentCallback',
                callbackParams: {
                  index: index
                }
              }
            });
          }
        });
      },
      fnReplyCommentCallback: function fnReplyCommentCallback(el, params) {
        console.log(JSON.stringify(el));
        console.log(JSON.stringify(params));
        this.comments.list[params.index].answer_list.push(el);
        this.audio.comments++;
      },

      fnOpenPlayListFrame: function fnOpenPlayListFrame() {
        api.openFrame({
          name: 'audio_detail_list_frm',
          url: './audio_detail_list_frm.html',
          rect: {
            w: 'auto',
            h: 'auto'
          },
          pageParam: {
            id: this.author.id
          }
        });
      },
      toAudioAuthor: function toAudioAuthor(id) {
        console.log(id);
        api.openWin({
          name: 'audio_author_win',
          url: '../../html/audio_author/audio_author_win.html',
          bounces: false,
          pageParam: {
            id: id
          }
        });
      }
    },
    mounted: function mounted() {
      var _this = this;
      container = document.querySelector('.container');

      document.addEventListener('scroll', _this.handlerScroll, false);

      document.addEventListener('wheel', function (event) {
        event.preventDefault(); // 禁止鼠标滚轮事件
      }, false);

      container.addEventListener('touchstart', _this.fnFoldTouchstart, false);

      container.addEventListener('touchmove', _this.fnFoldTouchmove, false);

      container.addEventListener('touchend', _this.fnFoldTouchend, false);
    }
  });

  apiready = function apiready() {
    vm.init();

    api.parseTapmode();

    var header = document.querySelector('#head');
    var playerSlim = document.querySelector('.player-slim');

    $api.fixStatusBar(header);
    $api.fixStatusBar(playerSlim);

    api.addEventListener({
      name: 'keyback'
    }, function (ret, err) {
      onCloseWin();
    });
  };

  function GetSlideDirection(moveY) {
    // if (vm.isFold) return;

    var d = moveY - vm.foldTrendY;
    if (d > 0) {
      // console.log('向下')
      vm.foldTrend = 2;
    } else {
      // console.log('向上')
      vm.foldTrend = 1;
    }

    vm.foldTrendY = moveY;
  }

  function onCloseWin() {
    api.execScript({
      script: 'onClose();'
    });
  }
</script>

</html>
