<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
  <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
  <link rel="stylesheet" type="text/css" href="../../css/aui/aui.css" />
  <link rel="stylesheet" href="../../css/custom/common.css">
  <link rel="stylesheet" href="../../css/custom/components/author-head.css">
  <link rel="stylesheet" href="../../css/custom/components/author-info.css">
  <link rel="stylesheet" href="../../css/custom/page/video-author.css">
  <link rel="stylesheet" href="../../script/vant/index.css">
  <script src="../../script/vue/vue.js"></script>
  <script src="../../script/vant/vant.min.js"></script>
</head>

<body>
  <div id="app" v-cloak>
    <!-- <header id="head" class="aui-bar aui-bar-nav">
      <a class="aui-btn aui-pull-left" tapmode onclick="onCloseWin()">
        <span class="aui-iconfont aui-icon-left"></span>
      </a>
      <div class="aui-title" v-show="isScroll">{{ author.nickname }}</div>
    </header> -->
    <!-- <header id="head" class="header" :class="{'fixed': isScroll}">
      <div class="header-mask"></div>
      <div class="aui-bar aui-bar-nav">
        <a class="aui-btn aui-pull-left" tapmode onclick="onCloseWin()">
          <span class="aui-iconfont aui-icon-left"></span>
        </a>
      </div>
    </header> -->
    <!-- <van-pull-refresh v-model="refreshLoading" @refresh="onRefresh"> -->

      <section class="author__panel">
        <div class="author__panel-wrap">
          <img :src="author.avatar">
        </div>
        <div class="flex-between">
          <div class="author__name">{{ author.user_name }}</div>
          <div class="author__avatar"><img :src="author.avatar"></div>
        </div>
        <div class="author__desc">
          {{ author.simple}}
        </div>
        <div class="flex-between">
          <div class="flex">
            <div class="author__visit">{{ author.play_times | views }}
              <p>播放量</p>
            </div>
            <div class="author__visit">{{ author.videos_count }}
              <p>集数</p>
            </div>
          </div>
          <div class="author__btn" @click="fnFollow"><img :src="author.is_follow_author ? '../../icon/btn_followed_white.png' : '../../icon/btn_follow_white.png'"></div>
        </div>
      </section>
      <van-list class="videos list" v-model="infiniteLoading" :finished="infiniteFinished" :immediate-check="false" :offset="50" @load="onLoad">
        <div v-for="(el, i) in videos" :key="i" class="video__panel" @click="toVideoDetail(el.id)">
          <div class="video__cover">
            <img :src="el.cover" :height="videoHeight">
            <div class="video__cover-mask">
              <img src="../../icon/btn_play.png">
            </div>
            <div class="video__duration">{{ el.time_length | duration-time }}</div>
          </div>
          <!--  -->
          <div class="video__title dark">{{ el.title }}</div>
          <div class="video__params flex-between">
            <div>{{ author.user_name }} · {{ el.timestamp | interval-time }}</div>
            <div><img v-if="el.play_times" src="../../icon/ico_play.png">{{ el.play_times | views }}</div>
          </div>
        </div>
        <!-- 占位，优化上滑loading时的过渡 -->
        <div style="height: 50px" v-show="!infiniteLoading && !infiniteFinished"></div>
        <!-- END -->
        <div v-if="infiniteFinished" class="load-more">-- 没有更多 --</div>
      </van-list>

    <!-- </van-pull-refresh> -->

  </div>
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script src="../../script/vue/filter.js"></script>
<script src="../../script/ajax.js"></script>
<script type="text/javascript">
  var _extends = Object.assign || function (target) {
    for (var i = 1; i < arguments.length; i++) {
      var source = arguments[i];
      for (var key in source) {
        if (Object.prototype.hasOwnProperty.call(source, key)) {
          target[key] = source[key];
        }
      }
    }
    return target;
  };

  var data = {
    author: {},
    videos: [],
    page: 1,
    pageCount: 10,
    refreshLoading: false,
    infiniteLoading: false,
    infiniteFinished: false,
    videoHeight: 120,    // 视频列表，封面图默认高度
  };

  var vm = new Vue({
    el: '#app',
    data: data,
    methods: {
      fetchProps: function fetchProps() {
        this.author = { ...api.pageParam.author
        };
        this.videos = [...api.pageParam.videos.videos];
        this.infiniteFinished = Boolean(api.pageParam.videos.bottom_key);
      },
      init: function init() {
        this.fetchProps();
      },
      handleScroll: function handleScroll() {
        var scrollD = document.scrollingElement.scrollTop;
        if (scrollD > 0) {
          api.execScript({
            frameName: 'video_author_head_frm',
            script: 'vm.ScrollCallback(1);'
          });
        } else {
          api.execScript({
            frameName: 'video_author_head_frm',
            script: 'vm.ScrollCallback(0);'
          });
        }
      },
      onLoad: function onLoad() {
        this.page++;

        $ajax_post('appvideo/author_video_by_page', {
          author_id: this.author.id,
          page: this.page,
          page_count: this.pageCount,
        }, res => {
          res.videos.forEach(el => {
            this.videos.push(el);
          });

          this.infiniteLoading = false;
          if (res.bottom_key) this.infiniteFinished = true; 
        }, {
          hideLoading: true
        })
      },
      fnFollow: function fnFollow() {
        this.author.is_follow_author ? this.onCancelFollow() : this.onFollow();
      },
      onFollow: function onFollow() {
        $ajax_post('appvideo/follow_video_author', {
          author_id: this.author.id,
          user_id: 100000
        }, () => {
          this.author.is_follow_author = 1;
        }, {
          hideLoading: true
        });
      },
      onCancelFollow: function onCancelFollow() {
        $ajax_post('appvideo/cancle_follow_video_author', {
          author_id: this.author.id,
          user_id: 100000
        }, () => {
          this.author.is_follow_author = 0;
        }, {
          hideLoading: true
        });
      },
      toVideoDetail: function toVideoDetail(id) {
        console.log(id);
				api.openWin({
					name: 'video_' + id + '_detail_win',
					url: '../video_detail/video_detail_win.html',
					bounces: false,
					pageParam: {
						id: id,
						isBanner: 0
					}
				});
      },
    },
    mounted() {
			this.videoHeight = document.body.clientWidth * 0.57;
      console.log(this.videoHeight)
      document.addEventListener('scroll', this.handleScroll);
    },
  });

  apiready = function apiready() {
    vm.init();
    $api.css(document.querySelector('.author__panel'), 'padding-top: ' + (45 + api.pageParam.headerH) + 'px;');
  };

  function onCloseWin() {
    api.closeWin();
  }

  setTimeout(function () {
    if (typeof api === 'undefined') {
      api = {
        pageParam: {}
      };
      apiready();
    }
  }, 500);
</script>

</html>